.app {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.password {
  position: relative;
  width: 300px;
}

.input-wrapper {
  position: relative;
}

.icon {
  position: absolute;
  top: 28px;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}
.button {
  width: fit-content;
}
